@import "tailwindcss";
@plugin "daisyui";

@theme {
  --background-image-blue: linear-gradient(135deg, #0061ff 0%, #60efff 100%);
  --background-image-gray: #99a1af;
  --color-gray: #99a1af;
  --color-blue: oklch(62.3% 0.214 259.815);
}

;

@utility btn {
  box-shadow: 0 10px 20px rgba(0, 97, 255, 0.05);
}

@utility avatar-offline {
  &::before {
    background-color: silver;
  }
}


@utility no-scrollbar {
  @apply [scrollbar-width:none]
}

@utility glow {
  box-shadow: 0 10px 20px rgba(0, 97, 255, 0.05);
}

;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));